/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/08/2017, 11:24:12 AM
    Author     : Walter
*/



table#t01 {
    width: 100%; 
    background-color: #f1f1c1;
}